<% wrap_layout :layout do %>
    <!-- this is the layout for articles.
    It will go where the "yield" is in the layout.erb -->
    <section class="section-single-article">
        <div class="container">
            <article>

                <%= yield %>

                <!-- add disqus -->
                <%= disqus %>

            </article>
        </div>
    </section>
<% end %>