/* ==========================================================================

   Bits & Pieces - Variables

========================================================================== */

// --------------------------------------------------------------------------
//  Breakpoints
// --------------------------------------------------------------------------
$mobile: 320px;
$mobile-landscape: 480px;
$portrait: 740px;
$landscape: 768px;
$desktop: 980px;
$widescreen: 1300px;
$bigscreen: 2200px;

// --------------------------------------------------------------------------
//  Colors
// --------------------------------------------------------------------------
$dark: #1b1b1b;

//--------------------------------------------------------------------------
//  Margins & paddings
//--------------------------------------------------------------------------

//60px in ems, 100px in ems, 30px in ems.
$vertical-padding: em(60);
$vertical-padding-large: em(100);
$vertical-padding-small: em(30);

$horizontal-padding: em(20);
$horizontal-padding-large: em(40);