/* ==========================================================================

   Layout

========================================================================== */

//--------------------------------------------------------------------------
//  Set Box sizing border box for all things - Yay!
//--------------------------------------------------------------------------
$border-box-sizing: true !default;

// --------------------------------------------------------------------------
//  Standard Containers
// --------------------------------------------------------------------------

.container {
    @include outer-container;
}

.content-block {
    @include section;
}

.content-block-grey {
    @include section;
    @include section-bg-color(#f8f8f8, 2%);
}

.section-hero {
    @include background-image( linear-gradient( hsla(0, 0%, 7%, 0.4), hsla(0, 0%, 7%, 0.4)  ), url("../images/hero_ipad_2.jpg"));
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
}

.section-single-article {
    @include section;
}

.section-article-block {
    background-color: aqua;
    @include section;
}

// --------------------------------------------------------------------------
//  Codeblocks
// --------------------------------------------------------------------------

pre {
    background-color: #1b1b1b;
    color: #fff;
    padding: 1em;
}

.video-item {
    @include span-columns(6);
    @include omega(2n);
    margin-bottom: 40px;
}