/* ==========================================================================

   Layout

========================================================================== */

//--------------------------------------------------------------------------
//  Set Box sizing border box for all things - Yay!
//--------------------------------------------------------------------------
$border-box-sizing: true !default;

// --------------------------------------------------------------------------
//  Standard Containers
// --------------------------------------------------------------------------

.container {
    @include outer-container;
}

.content-block {
    @include section;
}

.content-block-grey {
    @include section;
    @include section-bg-color(#f8f8f8, 2%);
}

.section-hero {
    @include background-image( linear-gradient( hsla(0, 0%, 7%, 0.4), hsla(0, 0%, 7%, 0.4)  ), url("../images/hero_ipad_2.jpg"));
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
}

.section-single-article {
    @include section;
}

.section-article-block {
    background-color: aqua;
    @include section;
}

// --------------------------------------------------------------------------
//  Codeblocks
// --------------------------------------------------------------------------

pre {
    background-color: #1b1b1b;
    color: #fff;
    padding: 1em;
}

.video-item {
    @include span-columns(6);
    @include omega(2n);
    margin-bottom: 40px;
}

.welcome-block {
    @include section;
    height: 650px;
    background: linear-gradient(to right,#25a1c3 0,#64bc5b 100%);
    background-image: linear-gradient(to right, rgb(37, 161, 195) 0px, rgb(100, 188, 91) 100%);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}