/* ==========================================================================

   Mixins

========================================================================== */

// --------------------------------------------------------------------------
//  Section Mixins
// --------------------------------------------------------------------------

@mixin section {
    @include clearfix;
    padding: $vertical-padding 1em;
        @include media($widescreen) {
            padding: $vertical-padding 0;
        }
    h1, h2, h3, h4, h6, h6 {
        padding-top: 0;
    }
}

@mixin section-large {
    @include clearfix;
    padding: $vertical-padding-large 1em;
        @include media($widescreen) {
            padding: $vertical-padding-large 0;
        }
    h1, h2, h3, h4, h6, h6 {
        padding-top: 0;
    }
}

@mixin section-small {
    @include clearfix;
    padding: $vertical-padding-small 1em;
        @include media($widescreen) {
            padding: $vertical-padding-small 0;
        }
}

@mixin section-no-bottom {
    @include clearfix;
    padding: $vertical-padding 1em 0 1em;
        @include media($widescreen) {
            padding: $vertical-padding 0 0 0;
        }
}