    <header class="section-header">
        <div class="container">

            <div class="main-logo">
                <a href="/"><%= image_tag 'stage_logo_white.png' %></a>
            </div>

            <nav class="main-navigation">
                <ul class="main-navigation-list">
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/features">Features</a></li>
                    <li><a href="/video">Video</a></li>
                    <li><a href="/pricing">Pricing</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="https://access.stageorganizer.com/" target="blank" class="login-button">Sign In</a></li>
                </ul><!-- main-navigation-list -->
            </nav><!-- main-navigation -->

        </div>
    </header><!-- top-navigation-bar -->