    <header class="section-header">
        <div class="container">

            <div class="main-logo">
                <a href="/"><%= image_tag 'stage_logo_white.png' %></a>
            </div>

            <nav class="main-navigation">
                <ul class="main-navigation-list">
                    <li><a href="https://access.stageorganizer.com/" target="blank" class="login-button">Sign In</a></li>
                    <li><a href="/blog.html">Blog</a></li>
                    <li><a href="/features.html">Features</a></li>
                    <li><a href="/screencasts.html">Screencasts</a></li>
                    <li><a href="/pricing.html">Pricing</a></li>
                    <li><a href="/contact.html">Contact</a></li>
                </ul><!-- main-navigation-list -->
            </nav><!-- main-navigation -->

        </div>
    </header><!-- top-navigation-bar -->