---
title: contact
---

<div class="content-block">
    <div class="container">

        <h3>Ze Form</h3>

        <form accept-charset="UTF-8" action="https://formkeep.com/f/5aa382121330" method="POST">
            <input type="hidden" name="utf8" value="✓">
            <input type="email" name="email" placeholder="Your Email">
            <input type="text" name="name" placeholder="Your Name">
            <textarea name="textarea" placeholder="Your Message" cols="30" rows="10"></textarea>
            <input type="submit" value="Boom!">
        </form>

    </div>
</div>
