---
title: Welcome to Middleman
---

    <section class="section-hero">
        <h1>Welcome</h1>
    </section>

    <section class="content-block">
        <div class="container">

            <h1>index</h1>

        </div>
    </section>