---
title: video
---

<div class="content-block">
    <div class="container">

        <h1>Video</h1>

<!--         <div class="video-item">
            <% link_to 'video/fileupload' do %>
              <%= image_tag 'videobanners/fileupload.jpg' %>
            <% end %>
        </div> -->

        <iframe width="560" height="315" src="https://www.youtube.com/embed/KNCjeVNsfbo" frameborder="0" allowfullscreen></iframe>

    </div>
</div>